.title{
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 32px;
    text-align: center;
    padding-top:10px;
    margin: 0 auto 0px auto;
  }

  .navBar{
    font-family: adelle, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 120px;
}
.navBar:hover{
    text-decoration: underline;
}

li a.active{
    text-decoration: underline;
}

a{
    color: #000000;
    text-decoration: none;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px auto;
}

.textContainer{
    flex-direction: column;
}

.aboutPic{
    margin-left: -100px;
    margin-top: -10px;
    width: 400px;
    height: 600px;
  }

  .hello{
    font-family: futura-pt,sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 90px;
    margin-right: 100px;
    margin-bottom: 0px;
    text-align: left;
  }

  .text{
    font-family: adelle, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }