.title{
    font-family: futura-pt,sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 32px;
    text-align: center;
    padding-top:10px;
    margin: 0 auto 0px auto;
  }

  .navBar{
    font-family: adelle, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 120px;
}
.navBar:hover{
    text-decoration: underline;
}

li a.active{
    text-decoration: underline;
}

a{
    color: #000000;
    text-decoration: none;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

@media (max-width: 800px) {
    .masonry {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    margin-left: 115px;
    margin-right: 115px;
    }

    iframe{
        width: 500;
        height: 250
    }
  }