.title{
    font-family: futura-pt,sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 32px;
    text-align: center;
    padding-top:10px;
    margin: 0 auto 0px auto;
  }

  .navBar{
    font-family: adelle, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 120px;
}
.navBar:hover{
    text-decoration: underline;
}

li a.active{
    text-decoration: underline;
}

a{
    color: #000000;
    text-decoration: none;
}

.instructions{
    font-family: futura-pt,sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    margin: 0 auto 0px auto;
}

.masonry{
    line-height: 0;
    column-count: 3;
    column-gap: 5px;
    margin-left: 185px;
    margin-right: 185px;
    margin-top: 50px;
}

.item{
    display: inline-block;
    width: 100%;
    height: auto;
}

@media (max-width: 1200px) {
    .masonry {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    margin-left: 155px;
    margin-right: 155px;
    }
  }
  @media (max-width: 800px) {
    .masonry {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    margin-left: 115px;
    margin-right: 115px;
    }
  }
  @media (max-width: 400px) {
    .title{
        font-size: 24px;
    }

    
    .masonry {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    margin-left: 75px;
    margin-right: 75px;
    }
  }